*, *::before, *::after{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}

/* header */

.container{
    width: 1128px;
    margin: 0 auto;
}
.header a, footer a{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 0.9;
    font-weight: 700;
}
.header .logo {
    text-transform: uppercase;
    color: #2E2F42;
}


.header {
    display: flex;
    align-items: center;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.nav,.nav ul {
    display: flex;
    flex-grow: 1;
    gap: 40px;
    margin-left: 36px;
}

.nav li a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2E2F42;
}

.nav li a:hover{
    color: #404BBF;
}
.nav li a:focus{
    color: #404BBF;
}
.info{
    font-weight: 400;
    display: flex;
    gap: 40px;
}
.info li a{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}
.info a:hover{
    color: #404BBF;
}
.info a:focus{
    color: #404BBF;
}
.blue_color{
    color: #4D5AE5;
}

/* main */

.s-1 {
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: #2E2F42;
    text-align: center;
    margin: 0 auto;
    gap: 48px;
    border-top: 1px solid #E7E9FC;
}
.title{
    max-width: 496px;
    margin: 0 auto;
    margin-top: 186px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 0.9;
    color: #ffffff;
}
.btn{
    margin: 0 auto;
    margin-bottom: 204px;
    width:169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    background-color: #404BBF;
}


.s-2 ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.s-2 h3{
    width: 254px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #2E2F42;
    margin-bottom: 8px;
}
.s-2 p{
    width: 254px;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}


.s-3{
    background-color: #F4F4FD;
}
.s-3 ul{
    display: flex;
    justify-content: center;
    gap: 24px;

}

.s-3 ul li {
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 120px;
}
.s-3 ul li h3{
    padding-top: 32px;
    padding-bottom: 8px;
}
.s-3 ul li p{
    padding-bottom: 32px;
}
.s-3 h2{
    padding-top: 120px ;
    padding-bottom: 72px ;
    text-align: center;
    font-size: 36px;
    line-height: 0.9;
    color: #2E2F42;
}

.s-4 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.s-4 h2{
    text-align: center;
    font-size: 36px;
    line-height: 0.9;
    color: #2E2F42;
    padding-top: 120px;
    padding-bottom: 72px;

}

.s-4 h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8;
    color: #2E2F42;
    padding-bottom: 8px;
    padding-top: 32px;
    padding-left: 18px;
}
.s-4 p{
    padding-left: 18px;
    padding-bottom: 32px;
}
.s-4 ul li div{
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

/* footer */

footer{
    background-color: #2E2F42;
}
footer a{
    font-size: 18px;
    color: #F4F4FD;
}
footer p{
    width: 264px;
    color: #F4F4FD;
}